<div class="container-head-bacground">
    <div class="col-left">
        <div class="container-img-logo-header">
            <img class="img-logo-header" src="../../../assets/Logo_NinjaTalent.png" alt="">
        </div>
    </div>
    <div class="col-right">
        <div class="container-content-col-right">
            <div>
                <mat-icon class="style-botton-notification" aria-hidden="false" aria-label="Example home icon" fontIcon="notifications" color="black"></mat-icon>
            </div>
            <div class="conteiner-sob-content-col-right">
                <div>
                    <mat-icon class="style-icon-user" aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle" color="black"></mat-icon>
                </div>
                <button class="button-user-options-displayed">
                    {{ userName }}
                    
                </button>
            </div>
        </div>
    </div>
</div>
